.row1
{
	padding-top: 30px;
}

.row2
{
	padding-top: 15px;
}

.glc_title
{
	color: #269ABC; 
	font-size: 25px;
}

.nomal_chart
{
	height: 180px;
}

.subtitle
{
	color: skyblue;
	font-size: 15px;
}

.row_glc
{
	padding-top: 20px;
}